<template name="home">
  <h1>Filmoteca</h1>
  
  {{> loginButtons}}
  
  {{#if currentUser}}
    <button type="button" class="btn btn-primary" id="chat">Chat</button>
    {{#if page "view1"}}
      {{> view1 }}
    {{else}}
      {{#if page "chat"}}
        {{> chat }}
      {{else}}
        <p>page not found</p>
      {{/if}}
    {{/if}}
    
    
    <!--
    <input id="contacts" class="btn btn-primary" type="button" value="Show contacts" />
    <input id="rooms" class="btn btn-primary" type="button" value="Rooms" />
    -->
  
  {{else}}
    <h3>You need to login to continue</h3>  
  {{/if}}
  
</template>