<template name="view1">
  <h2 class= "title">Salas disponibles</h2>
  <div id="biblioteca">
    <div id="contenedor-categorias">
      {{> categories}}
    </div>
    <div id="favorito">
      {{> favorito}}
    </div>
  </div>
</template>


  <!--
  {{greeting}}
  <p>
    Name: <input id="name" type="text" /><br/>
    Surname: <input id="surname" type="text" /><br/>
    Age: <input id="age" type="number" /> years old<br/>
    <input id="button" class="btn btn-primary" type="button" value="Click" />
  </p>
  -->
